.footerItem{
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footerPic{
    height: 150px;
}

.footerText{
    margin-top: 10px;
}

#contactInstagram{
    height: 80px;
}

#contactFacebook{
    height: 45px;
}

#contactMail{
    height: 100px;
    margin-right: 12px;
}

#contactText{
    font-size: 40px;
}

.contactItem{
    height: 200px;
    display: flex;
    align-items: center;
}

@media (max-width: 1200px){
   .footerItem{
    height: 200px;
    background-color: white;
   }

   #contactText{
    font-size: 30px;
    align-items: center;
}
   
}